@page "/"
@using BlazorExcelReaderFinancial.Data;

<h1>Blazor Excel Financial Reader</h1>


<div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">

        Select a file to read:
        <input type="file" id="file-to-read" name="file-to-read" @onchange="GetFileTabs"/>
        <br />
        <br />
        Available worksheets:
        <select id="select-file-tabs" name="select-file-tabs"  @bind="tabSelected">
            <option value="0">Select a worksheet</option>
            @foreach (var ftab in ftabs)
            {
                <option value="@ftab.tabNumber">@ftab.tabName</option>
            }
        </select>
        <br />
        <br />
        @*<button class="btn btn-primary" @onclick="ReadExcel">
            Read Excel Worksheet
        </button>*@
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <DevExpress.Blazor.DxDataGrid Data="@finances" ShowFilterRow="false" PageSize="30" Id="financials-data-grid">
            <DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData1)" Caption="Col 1"></DevExpress.Blazor.DxDataGridColumn>
            <DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData2)" Caption="Col 2"></DevExpress.Blazor.DxDataGridColumn>
            <DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData3)" Caption="Col 3"></DevExpress.Blazor.DxDataGridColumn>
            <DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData4)" Caption="Col 4"></DevExpress.Blazor.DxDataGridColumn>
            @*<DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData5)" Caption="Col 5"></DevExpress.Blazor.DxDataGridColumn>
            <DevExpress.Blazor.DxDataGridColumn Field="@nameof(dataPoint.CellData6)" Caption="Col 6"></DevExpress.Blazor.DxDataGridColumn>*@
        </DevExpress.Blazor.DxDataGrid>
    </div>
</div>

@code{
    FileTab ftab = new FileTab();
    List<FileTab> ftabs = new List<FileTab>();

    FinancialData dataPoint = new FinancialData();
    List<FinancialData> finances = new List<FinancialData>();

    private int worksheetNum;
    public int tabSelected
    {
        get { return worksheetNum; }
        set
        {
            worksheetNum = value;
            //ReadExcel(worksheetNum);
            finances = dataPoint.ReadExcel(worksheetNum);
        }
    }

    private void GetFileTabs()
    {
        ftabs = ftab.GetFileTabs();

    }

    private void ReadExcel()
    {

        finances = dataPoint.ReadExcel(tabSelected);
    }
}